:root {
  --color-primary-black: #292929;
  --color-primary-mid-grey: #4d4d4d;
  --color-primary-light-grey: #e0e0e0;

  --color-secondary-gold: #ffc74a;
  --color-secondary-gold-shadow: #735921;
  --color-secondary-gold-light: #ffde96;

  --color-accent-green: #87a362;
  --color-accent-green-shadow: #4a5936;
  --color-accent-green-light: #cfd496;

  --font-primary: "Fira Sans Extra Condensed", sans-serif;
  --font-secondary: "Neuton", serif;
}

html {
  font-family: var(--font-primary);
}

h1 {
  font-family: var(--font-secondary);
  color: var(--color-secondary-gold);
  font-weight: 700;
}

h2 {
  font-family: var(--font-primary);
  color: var(--color-secondary-gold);
  font-weight: 700;
}

h3 {
  font-family: var(--font-primary);
  color: var(--color-secondary-gold);
  font-weight: 700;
}

a {
  font-family: var(--font-primary);
  color: var(--color-secondary-gold);
}

a:visited {
  font-family: var(--font-primary);
  color: var(--color-accent-gold-shadow);
}

a:hover {
  font-family: var(--font-primary);
  color: var(--color-secondary-gold-light);
}

a:active {
  font-family: var(--font-primary);
  color: var(--color-accent-green);
}

ul {
  color: var(--color-primary-black);
  list-style-type: square;
}

ul>li:before {
  color: var(--color-secondary-gold);
}

ol {
  color: var(--color-primary-black);
  font-weight: bold;
}

ol>li:before {
  color: var(--color-secondary-gold);
}

dl {
  color: var(--color-primary-black);
}

dl>li:before {
  color: var(--color-secondary-gold);
}
