:root {
  --color-primary-black: #181717;
  --color-primary-mid-grey: #2b2a2e;
  --color-primary-light-grey: #faefe5;

  --color-secondary-gold: #ffb84a;
  --color-secondary-gold-shadow: #724C12;
  --color-secondary-gold-light: #ffd596;

  --color-accent-green: #87a362;
  --color-accent-green-shadow: #324d1b;
  --color-accent-green-light: #cfd496;

  --font-primary: "Fira Sans Condensed", sans-serif;
  --font-secondary: "Neuton", serif;
}

html {
  font-family: var(--font-primary);
  background-color: var(--color-primary-light-grey);
  scroll-behavior: smooth;
}

.pagespan {
  max-width: 60em;
}

.font-primary {
  font-family: var(--font-primary);
}

.font-secondary {
  font-family: var(--font-secondary);
}

.mgreen {
  color: var(--color-accent-green);
  background-color: var(--color-accent-green);
}

.lgreen {
  color: var(--color-accent-green-light);
  background-color: var(--color-accent-green-light);
}

.dgreen {
  color: var(--color-accent-green-shadow);
  background-color: var(--color-accent-green-shadow);
}

.dgrey {
  color: var(--color-primary-black);
  background-color: var(--color-primary-black);
}

.goldshadow-text {
  color: var(--color-secondary-gold-shadow);
}

.whitetext {
  color: white;
}

h1 {
  font-family: var(--font-primary);
  color: var(--color-secondary-gold);
  font-weight: 700;
}

h2 {
  font-family: var(--font-primary);
  font-weight: 700;
}

h3 {
  font-family: var(--font-primary);
  font-weight: 700;
}

a {
  font-family: var(--font-primary);
  color: var(--color-secondary-gold);
  text-decoration: none;
}

a:visited {
  font-family: var(--font-primary);
  color: var(--color-accent-gold-shadow);
}

a:hover {
  font-family: var(--font-primary);
  color: var(--color-secondary-gold-light);
  text-decoration: underline;
}

a:active {
  font-family: var(--font-primary);
  color: var(--color-accent-green);
}

ul {
  color: var(--color-primary-black);
  list-style-type: square;
}

ul>li:before {
  color: var(--color-secondary-gold);
}

ol {
  color: var(--color-primary-black);
  font-weight: bold;
}

ol>li:before {
  color: var(--color-secondary-gold);
}

dl {
  color: var(--color-primary-black);
}

dl>li:before {
  color: var(--color-secondary-gold);
}

.darkborder {
  border-bottom: 1px solid #C79A3A;
}

.goldborder {
  border-bottom: 6px solid var(--color-secondary-gold);
}
