.baseassetcardcontainer {
  background-color: var(--color-primary-light-grey);
  min-height: 15em;
}

.colourassetcardcontainer {
  background-color: var(--color-primary-light-grey);
}

.coloursassetcard {
  background-color: none;
}

.assettitle {
  color: var(--color-primary-mid-grey);
  font-weight: 300;
  padding-left: 1.5em;
  padding-top: .5em;
}

.assetsubtitle {
  padding-left: 4em;
  font-weight: 300;
}

.assetleading {
  color: var(--color-accent-green-shadow);
  font-weight: bold;
}

.assettext {
  font-weight: 300;
  color: var(--color-primary-black);
}

.coloursquare {
  width: 3em;
  height: 3em;
  border-radius: .5em;
  margin: auto;
  border: 1px solid #b0b0b0;
  color: var();
  background-color: var();

}

.introtitle {
  color: var(--color-primary-mid-grey);
  font-weight: 300;
}

.projectsoverviewintro-2  {
  color: var(--color-primary-mid-grey);
  font-weight: 300;
  text-align: center;
}

.projectsoverviewintro {
  color: var(--color-primary-mid-grey);
  font-weight: 300;
  padding-top: 1em;
  text-align: center;
}

.personalprojectstitle {
  color: var(--color-primary-mid-grey);
  font-weight: 300;
  padding-left: 1.5em;
  padding-top: 0.5em;
}

.introsubtitleinline {
  display: inline;
}

.introsubtitlename {
  padding-left: 1em;
}

.introsubtitletype {
  font-weight: 300;
  padding-left: .2em;
}

.introleading {
  color: var(--color-accent-green-shadow);
  font-weight: bold;
  padding-top: 1.5em;
}

.stageleading {
  color: var(--color-accent-green-shadow);
  font-weight: bold;
}

.introtext {
  font-weight: 300;
  color: var(--color-primary-black);
}

.introtextprojects {
  font-weight: 300;
  color: var(--color-primary-black);
}

.bar {
  background-color: black;
  height: 2px;
}

.bars {
  width: 6em;
  margin: auto;
}

.blackbartop {
  width: 100%;
  margin: auto;
}

.blackbarbottom {
  width: 60%;
  margin: auto;
}

.imagecontainer {
  background-color: var(--color-accent-secondary-gold);
  min-height: 20em;
  margin-bottom: 2em;
}

@media only screen and (min-width: 25em) {

  .paragraphgutter-2 {
    padding-left: 2.6rem;
    padding-right: 2.6rem;
  }

}

@media only screen and (min-width: 38em) {

  .assettitle {
    padding-left: 1em;
  }

  .fontchoices {
    padding-left: 3em;
  }

  .projectsoverviewintro {
    text-align: left;
    padding-left: .8em;
  }

  .projectsoverviewintro-2 {
    text-align: left;
    padding-left: .8em;
  }

}


@media only screen and (min-width: 60em) {

  .paragraphgutter-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .projectsoverviewintro-2 {
    padding-left: 0em;
  }

}
