.btn {
  padding: .75em 1.5em .75em 1.5em;
  border-radius: .3em;
}

.btn-basic {
  background-color: var(--color-primary-black);
  background-image: linear-gradient(to bottom, var(--color-primary-black), #292624);
  border: 2px solid var(--color-primary-mid-grey);
}

.btn-basic:hover {
  background-color: var(--color-accent-green-shadow);
  background-image: linear-gradient(to bottom, var(--color-accent-green-shadow), #354027);
  border: 2px solid var(--color-accent-green);
  color: var(--color-secondary-gold-light);
}

.btn-basic:visited {
  background-color: var(--color-primary-black);
  border: 2px solid var(--color-accent-green-shadow);
  color: var(--color-secondary-gold);
}

.btn-ghost {
  background-color: none;
  border: 2px solid var(--color-accent-green);
  color: var(--color-accent-green);
}

.btn-ghost:hover {
  background-color: var(--color-accent-green-shadow);
  background-image: linear-gradient(to top, #b0b0b0, #c7c7c7);
  border: 2px solid var(--color-primary-mid-grey);
  color: white;
}

.btn-ghost:visited {
  background-color: var(--color-accent-green);
  border: 2px solid var(--color-secondary-gold-shadow);
  color: var(--color-secondary-gold-shadow);
}

.btn-ghost:visited .btn-ghost:hover {
  color: white;
}

.btn-light {
  background-color: var(--color-primary-mid-grey);
  background-image: linear-gradient(to top, #999, var(--color-primary-light-grey));
  border: 2px solid var(--color-primary-light-grey);
  color: white;
}

.btn-light:hover {
  background-color: var(--color-accent-green-shadow);
  background-image: linear-gradient(to top, var(--color-accent-green-shadow), var(--color-accent-green));
  border: 2px solid var(--color-accent-green-shadow);
  color: white;
}

.btn-light:visited {
  background-color: var(--color-primary-black);
  border: 2px solid var(--color-accent-green-shadow);
  color: var(--color-secondary-gold);
}

.pagebtn {
  border: none;
  color: #999;
  background-color: transparent;
  text-align: center;
  padding: .5em;
  width: 4.5em;
  transition: all 0.5s;
  cursor: pointer;
  margin: .2em;
  text-align: center;
  font-family: var(--font-primary);
}

.pagebtn:hover {
  border: none;
  color: #999;
  background-color: transparent;
}

.pagebtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.pagebtn:hover span:after {
  opacity: 1;
  right: 0;
}

.pagebtn:hover span:before {
  opacity: 1;
  left: 0;
}

.pagenext {
  float: right;
}

.nextbutton {
  padding-right: 1em;
}

.previousbutton {
  padding-left: 1em;
}

.nextbutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -50px;
  transition: 0.5s;
}

.pagenext:hover span {
  padding-right: 40px;
}

.previousbutton span:before {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -50px;
  transition: 0.5s;
}

.pageprevious:hover span {
  padding-left: 40px;
}
