.btn {
  border-radius: .9em;
}

.btnlanding {
  margin-left: .5em;
  margin-right: .5em;
}

.btn-round {
  padding: .6em .6em .3em .6em;
  border-radius: 3em;
  text-decoration: none;
}

.displayblock {
  display: block;
}

.topbutton {
  padding-right: 1em;
}

.btn-basic {
  background-color: transparent;
  background-image: linear-gradient(to bottom, var(--color-primary-black), #292624);
  border: 2px solid var(--color-primary-mid-grey);
  transition: .1s ease;
}

.btn-basic:hover {
  background-color: black;
  background-image: linear-gradient(to bottom, var(--color-accent-green-shadow), #354027);
  border: 2px solid var(--color-accent-green);
  color: var(--color-secondary-gold-light);
}

.btn-basic:visited {
  background-color: var(--color-primary-black);
  border: 2px solid var(--color-accent-green-shadow);
  color: var(--color-secondary-gold);
}

.btn-ghost {
  background-color: transparent;
  border: 2px solid transparent;
  color: var(--color-accent-green-shadow);
  transition: .2s ease;
}

.btn-ghost:hover {
  background-color: transparent;
  border: 2px solid var(--color-secondary-gold);
  color: var(--color-secondary-gold);
  text-decoration: none;
}

.btn-ghost:visited {
  background-color: var(--color-accent-green);
  border: 2px solid var(--color-secondary-gold-shadow);
  color: var(--color-secondary-gold-shadow);
}

.btn-ghost:visited .btn-ghost:hover {
  color: white;
}


.btn-ghost-top {
  background-color: transparent;
  border: 2px solid transparent;
  color: var(--color-primary-mid-grey);
  transition: .2s ease;
}

.btn-ghost-top:hover {
  background-color: transparent;
  border: 2px solid var(--color-secondary-gold);
  color: var(--color-secondary-gold);
  text-decoration: none;
}

.btn-ghost-top:visited {
  background-color: var(--color-accent-green);
  border: 2px solid var(--color-secondary-gold-shadow);
  color: var(--color-secondary-gold-shadow);
}

.btn-ghost-top:visited .btn-ghost:hover {
  color: white;
}

.pagebtn {
  border: none;
  color: var(--color-primary-mid-grey);
  background-color: transparent;
  text-align: center;
  padding: .5em;
  width: 4.5em;
  transition: 0.5s ease;
  cursor: pointer;
  margin: .2em;
  text-align: center;
  font-family: var(--font-primary);
}

.pagebtn:hover {
  border: none;
  color: var(--color-primary-mid-grey);
  background-color: transparent;
}

.pagebtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.pagebtn:hover span:after {
  opacity: 1;
  right: 0;
}

.pagebtn:hover span:before {
  opacity: 1;
  left: 0;
}

.pagenext {
  float: right;
}

.nextbutton {
  padding-right: 1em;
}

.previousbutton {
  padding-left: 1em;
}

.buttonclickable {
  height: 8em;
  width: 8em;
}

.nextbutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -50px;
  transition: 0.35s;
}

.pagenext:hover span {
  padding-right: 40px;
}

.previousbutton span:before {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -50px;
  transition: 0.35s;
}

.pageprevious:hover span {
  padding-left: 40px;
}

@media only screen and (min-width: 25em) {

  .btn {
    padding: .75em 1.5em;
  }

}

@media only screen and (min-width:38em) {

  .topbutton {
    padding-right: 2em
  }

}

@media only screen and (min-width:60em) {

  .topbutton {
    padding-right: 3.5em
  }

  .btnlanding {
    margin-left: 2em;
    margin-right: 2em;
  }

}
