.selfintrotitle {
  color: var(--color-primary-mid-grey);
  font-weight: 300;
  padding-left: 1.25em;
  padding-top: .5em;
}

.selfintrobio {
  padding-left: 2.25em;
}

.bioavatar {
  min-height: 15em;
  max-height: 40em;

}

.selfintrosubtitle {
  padding-left: 2.25em;
  font-weight: 300;
}

.selfintroblock {
  padding-top: 1.5em;
}

.projectcardimage {
  height: 15em;
}

.projectcardtitle {
  color: var(--color-primary-mid-grey);
  font-weight: 300;
  padding-left: 0;
  padding-top: .5em;
}

.projectcardtextcontainer {
  position: relative;
}


.projectsoverviewleading {
  color: var(--color-accent-green-shadow);
  font-weight: bold;
}

.projectsoverviewtext {
  font-weight: 300;
  color: var(--color-primary-black);
}

.linksquare {
  height: 13em;
  background-image: url("../images/colourstemp.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-top: 13px solid var(--color-primary-light-grey);
  border-left: 13px solid var(--color-primary-light-grey);
}

.linksquaretitle{
  font-weight: bold;
}

.goldhoveroverlay {
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .6s ease;
  background-color: var(--color-secondary-gold);
}

.linksquare:hover .goldhoveroverlay {
  opacity: .75;
}

.blackhoveroverlay {
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .6s ease;
  background-color: black;
}

.linksquare:hover .blackhoveroverlay {
  opacity: .5;
}

.linksquare-hovertext {
  color: white;
  font-size: 1.5rem;
  left: 35%;
  top: 55%;
  text-align: center;
  opacity: 0;
  transition: .6s ease;
}

.linksquare:hover .linksquare-hovertext {
  opacity: 1;
}

@media only screen and (min-width: 25em) {

  .projectcardtextbox {
    position: absolute;
    bottom: .2em;
    right: 1em;
  }

  .projectcardtextbox-left{
    position: absolute;
    bottom: .2em;
    left: 1em;
  }

}

@media only screen and (min-width: 38em) {

  .selfintrosubtitle {
    padding-left: 3em;
  }

}

@media only screen and (min-width: 65em) {

  .selfintrotitle {
    font-size: 4.5rem;
    line-height: 5.98rem;
  }

}
