.selfintrotitle {
  color: var(--color-primary-mid-grey);
  font-weight: 300;
  padding-left: 1.25em;
  padding-top: 1em;
}

.selfintrosubtitle {
  padding-left: 2.25em;
  font-weight: 300;
}

.selfintroblock {
  padding-top: 1.5em;
}

.projectcardimage {
  height: 15em;
}

.projectcardtitle {
  color: var(--color-primary-mid-grey);
  font-weight: 300;
  padding-left: 0;
  padding-top: .5em;
}

.projectcardtextcontainer {
  position: relative;
}


.projectsoverviewleading {
  color: var(--color-accent-green-shadow);
  font-weight: bold;
}

.projectsoverviewtext {
  font-weight: 300;
  color: var(--color-primary-black);
}

.linksquare {
  height: 8em;
}


@media only screen and (min-width: 25em) {

  .projectcardtextbox {
    position: absolute;
    bottom: .2em;
    right: 1em;
  }

  .projectcardtextbox-left{
    position: absolute;
    bottom: .2em;
    left: 1em;
  }

}

@media only screen and (min-width: 38em) {

  .selfintrosubtitle {
    padding-left: 3em;
  }

}

@media only screen and (min-width: 65em) {

  .selfintrotitle {
    font-size: 4.5rem;
    line-height: 5.98rem;
  }

}
