.selfintrotitle {
  color: var(--color-primary-mid-grey);
  font-weight: 300;
  padding-left: 1.25em;
  padding-top: .5em;
}

.mepage-selfintrotitle {
  color: var(--color-primary-mid-grey);
  font-weight: 300;
  padding-right: 1.25em;
  padding-top: .5em;
}

.margincenter {
  margin: auto;
}

.contacttitle {
  color: var(--color-primary-mid-grey);
  font-weight: 300;
}

.selfintrobio {
  padding-left: 2.25em;
}

.bioavatar {
  min-height: 18em;
  max-height:30em;
  background-image: url("../images/me-current.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.aboutme-bioavatar {
  padding-top: 3em;
}

.bioavatar-2 {
  height: 10em;
  display: block;

}

.selfintrosubtitle {
  padding-left: 2.25em;
  font-weight: 300;
}

.mepage-selfintrosubtitle {
  padding-right: 2.25em;
  font-weight: 300;
}

.selfintroblock {
  padding-top: 1.5em;
}

.projectcardimage {
  height: 18em;
}

.p-projectcardimage {
  min-height: 15em;
  max-height: 30em;
}

.projectcardtitle {
  color: var(--color-primary-mid-grey);
  font-weight: 300;
  padding-left: 0;
  padding-top: .5em;
}

.projectcardtextcontainer {
  position: relative;
}


.projectsoverviewleading {
  color: var(--color-accent-green-shadow);
  font-weight: bold;
}

.projectsoverviewtext {
  font-weight: 300;
  color: var(--color-primary-black);
}

.linksquare {
  height: 13em;
  background-image: url("../images/tech.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


.l1 {
  border-bottom: 13px solid var(--color-primary-light-grey);
  border-right: 13px solid var(--color-primary-light-grey);
}

.l2 {
  border-bottom: 13px solid var(--color-primary-light-grey);
  border-left: 13px solid var(--color-primary-light-grey);
}

.l3 {
  border-top: 13px solid var(--color-primary-light-grey);
  border-right: 13px solid var(--color-primary-light-grey);
}

.l4 {
  border-top: 13px solid var(--color-primary-light-grey);
  border-left: 13px solid var(--color-primary-light-grey);
}

.linksquareimage {
  border: 2px solid #e9e9e9;
  height: 100%;
  width: 100%;
}

.linksquaretitle{
  font-weight: bold;
}

.goldhoveroverlay {
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .6s ease;
  background-color: var(--color-secondary-gold);
}

.linksquare:hover .goldhoveroverlay {
  opacity: .75;
}


.blackhoveroverlay {
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .6s ease;
  background-color: black;
}

.linksquare:hover .blackhoveroverlay {
  opacity: .5;
}

.linksquare-hovertext {
  color: white;
  font-size: 1.5rem;
  bottom: 20%;
  opacity: 0;
  transition: .6s ease;
}

.linksquare:hover .linksquare-hovertext {
  opacity: 1;
}

.landinghello {
  padding-top: 2em;
  font-weight: 300;
  color: var(--color-primary-mid-grey);
}

.landingname {
  font-weight: 300;
  color: var(--color-primary-mid-grey);
  line-height: 1.5rem;
}

@media only screen and (min-width: 25em) {

  .projectcardtextbox {
    position: absolute;
    bottom: .2em;
    right: 1em;
  }

  .projectcardtextbox-left{
    position: absolute;
    bottom: .2em;
    left: 1em;
  }


}

@media only screen and (min-width: 38em) {

  .selfintrosubtitle {
    padding-left: 3em;
  }

  .mepage-selfintrosubtitle {
    padding-right: 3em;
  }

  .landingname {
    line-height: 2.5rem;
  }

}

@media only screen and (min-width: 65em) {

  .selfintrotitle {
    font-size: 4.5rem;
    line-height: 5.98rem;
  }

  .mepage-selfintrotitle {
    font-size: 4.5rem;
    line-height: 5.98rem;
  }

  .landinghello {
    font-size: 4.5rem;
    line-height: 1rem;
  }

  .landingname {
    line-height: 2.2rem;
    padding-bottom: .8em;
  }


  .landing-mynameis {
    padding-top: .8em;
    line-height: 2rem;
  }

}
