<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Hearon Design · Personal Piece 1 · Project Type</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="Each piece is crafted to use creative solutions to boldly solve the client needs.">
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
  <meta name="ICBM" content="45.41117;-75.69812">
  <meta name="geo.position" content="45.41117;-75.69812">
  <meta name="geo.region" content="ca-on">
  <meta name="geo.placename" content="Ottawa">
  <meta property="og:type" content="website">
  <link href="/css/main.css" rel="stylesheet">
  <meta property="og:title" content="Hearon Design · Portfolio Piece 1 · Project Type">
  <meta property="og:url" content="https://hearon.design/portfoliopiece/">
  <meta property="og:image" content="">
  <meta property="og:site_name" content="Hearon Design">
  <meta property="og:description" content="Each piece is crafted to use creative solutions to boldly solve the client needs.">
  <meta property="og:locale" content="en_CA">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@hearondesign">
  <meta name="twitter:title" content="Hearon Design Twitter">
  <meta name="twitter:url" content="https://twitter.com/hearondesign">
  <meta name="twitter:description" content="Graphic Designer and Illustrator with a passion for using creative design to drive the world forward.">
  <meta name="twitter:image" content="">
</head>
<body>
  <a name="backtotop"></a>
  {% pattern navigation/favicon %}
  {% pattern navigation/headernav %}
  {{content}}
  {% pattern buttons/button-backtotop %}
  {% pattern navigation/contactfooter %}
</body>
</html>
