<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Hearon Design · Portfolio Piece 1</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
  <meta name="description" content="Each piece is crafted to use creative solutions to boldly solve the client needs.">
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:300,400,700|Neuton:300&display=swap" rel="stylesheet">
</head>
<body>
  {% pattern banners/banner-1 %}
  {% pattern navigation/headernav %}
  {% pattern navigation/pagenavigations %}
  {{content}}
  {% pattern navigation/contactfooter %}
</body>
</html>
