.mainnav {
  width: 100%;
  border-bottom: 1px solid black;
  background-color: var(--color-primary-black);
}

.navwrapper {
  background-color: var(--color-primary-black);
  background-image: linear-gradient(to top, var(--color-primary-black), #332F2D);
}

.navbutton {
  background-color: var(--color-primary-black);
  background-image: linear-gradient(to top, var(--color-primary-black), #332F2D);
  color: var(--color-secondary-gold);
  padding-top: 1em;
  padding-bottom: .5em;
}

.navbuttonheader {
  padding: .4em;
}

.navbuttonfooter {
  padding-bottom: 1em;
}

.landingnavbutton {
  padding: 1.5em;
}

.navbar {
  border-bottom: 3px solid var(--color-secondary-gold);
}

.copyright {
  font-weight: 300;
  color: #999999;
}

@media only screen and (min-width: 38em) {

  .navbuttonheader {
    padding: .6em;
  }

}
