.mainnav {
  width: 100%;
  border-bottom: 1px solid black;
  background-color: var(--color-primary-black);
}

.navwrapper {
  background-color: var(--color-primary-black);
  background-image: linear-gradient(to top, var(--color-primary-black), #1c1918);
  position: sticky;
  top: 0;
  z-index: 10;
  border-top: 6px solid var(--color-secondary-gold);
}

.navbutton {
  background-color: var(--color-primary-black);
  background-image: linear-gradient(to top, var(--color-primary-black), #1d1b15);
  color: var(--color-secondary-gold);
  padding-top: 1em;
  padding-bottom: .5em;
}

.navbuttonheader {
  padding: .35em;
}

.navbuttonfooter {
  padding-bottom: 1em;
}

.landingnavbutton {
  padding: 2em;
}

.navbar {
  padding-top: 1em;
  border-bottom: 4px solid var(--color-secondary-gold);
}

.copyright {
  font-weight: 300;
  color: #999999;
}

.contacticon {
  float: right;
}

.headericon {
  color: var(--color-secondary-gold);
}

.headericon:visited {
  color: var(--color-secondary-gold);
}

.headericon:active {
  color: var(--color-secondary-gold);
}


.iconshift {
  transition: all 0.25s ease;
  width: 3.5em;
  display: inline-block;
}

.iconshift .icon {
  width: 1.6em;
  height: 1.6em;
  transition: all 0.25s ease;
  position: relative;
  top: .6em;
}

.iconshift-label {
  opacity: 0;
  transition: all 0.25s ease;
  text-decoration: none;
}

.iconshift:hover .icon {
    top: -.1em;
}

.iconshift:hover .iconshift-label {
  opacity: 1;
}

@media only screen and (min-width: 38em) {

  .navbuttonheader {
    padding: 0.25em;
  }

}
