.imageplaceholder {
   background-color: var(--color-primary-black);
   width: 100%;
   height: 22em;
   color: white;
}

.bannerimg {
  background-image: linear-gradient(to top, #191919, var(--color-primary-black));
  background-size: cover;
}
